.user{
  &__name{
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__controls{
    display: flex;
    align-items: center;
  }
}