.form{
  width: 100%;
  max-width: 400px;
  position: relative;

  &__input-wrapper{
    margin-bottom: 5px;
    display: block;
    position: relative;
    min-height: 78px;
  }

  &__error-message{
    opacity: 0;
    font-size: 11px;
    color: red;
    position: absolute;
    bottom: -15px;
    left: 0;
  }

  &__close{
    position: absolute;
    right: 0;
    top: -20px;
    cursor: pointer;

    &:after{
      display: inline-block;
      content: "\00d7";
      font-size: 20px;
    }
  }
}
