.m-r{
    margin-right: 10px;
}

.m-b{
    margin-bottom: 15px;
}

a.link{
    color: rgb(51, 122, 183);
    text-decoration: none;
}

 a.link:focus, a.link:hover {
    color: rgb(35, 82, 124);
    text-decoration: underline;
}